.col-md-6 {
  padding: 30px;
  background: black;
  color: white;
  border: solid red 10px;
}

.container h1 {
  text-align: center;
}
/* .cont {
  background: grey;
  margin: 5px;
  padding: 10px 5px;
  cursor: pointer;
} */
