<div class="container" bg-dark text-light>
  <h1>QUOTES THAT LIVE FOREVER</h1>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <div class="cont">
        <li *ngFor="let quote of quotes; let i = index">
          <span style="color: orangered"> AUTHOR :</span>{{ quote.author }}
          <br />

          <span style="color: green"> SENDER:</span>{{ quote.sender }}<br />

          <span style="color: orangered"> QUOTE:</span> {{ quote.yourQuote }}
          <br />

          <span style="color: green"> POSTED: </span
          >{{ quote.postDate | timeLapse }} Days ago<br />
          Likes:{{ quote.voteLikes }}
          <button class="btn-sm btn-secondary" (click)="functionLike(i)">
            like
          </button>
          Dislikes:{{ quote.voteDislikes }}
          <button class="btn-sm btn-danger" (click)="functionDislike(i)">
            dislike
          </button>
          <br />
          <button class="btn-block btn-danger" (click)="deleteQuote(i)">
            Delete Quote
          </button>
        </li>
      </div>
    </div>

    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      <br />
    </div>
  </div>
</div>
