<div class="container-fluid">
  <h2 class="text-center">ADD A LIVING QUOTE</h2>
  <hr />
  <form (ngSubmit)="(submitQuote)" #quoteForm="ngForm">
    <div class="form-group">
      <label for="author">AUTHOR</label>
      <input
        type="text"
        required
        class="form-control"
        id="author"
        [(ngModel)]="newQuote.author"
        author="author"
        #author="ngModel"
        required
      />
    </div>

    <div class="form-group">
      <label for="sender">SENDER</label>
      <input
        type="text"
        required
        class="form-control"
        id="sender"
        [(ngModel)]="newQuote.sender"
        sender="sender"
        #sender="ngModel"
        required
      />
    </div>

    <div class="form-group">
      <label for="quote">WRITE YOUR QUOTE HERE</label>
      <textarea
        class="form-control"
        id="quote"
        rows="4"
        [(ngModel)]="newQuote.quote"
        quote="quote"
        #quote="ngModel"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="post">Date Posted</label>
      <input
        type="date"
        id="post"
        [(ngModel)]="newQuote.postDate"
        postDate="postDate"
        #postDate="ngModel"
        required
      />
    </div>
  </form>
</div>
