<div class="container-fluid">
  <h2 class="text-center">ADD A LIVING QUOTE</h2>
  <hr />
  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="author">AUTHOR</label>
      <input
        type="text"
        required
        class="form-control"
        id="author"
        [(ngModel)]="newQuote.author"
        name="author"
        #author="ngModel"
        required
      />
    </div>

    <div class="form-group">
      <label for="sender">SENDER</label>
      <input
        type="text"
        required
        class="form-control"
        id="sender"
        [(ngModel)]="newQuote.sender"
        name="sender"
        #sender="ngModel"
        required
      />
    </div>

    <div class="form-group">
      <label for="yourQuote">WRITE YOUR QUOTE HERE</label>
      <textarea
        class="form-control"
        id="yourQuote"
        rows="4"
        [(ngModel)]="newQuote.yourQuote"
        name="quote"
        #yourQuote="ngModel"
        required
      ></textarea>
    </div>

    <button type="submit" class="btn-block btn-success">Submit Quote</button>
  </form>
</div>
