<div class="container-fluid">
  <h2 class="text-center">ADD A LIVING QUOTE</h2>
  <hr />
  <form>
    <div class="form-group">
      <label for="author">AUTHOR</label>
      <input type="text" required class="form-control" id="author" />
    </div>

    <div class="form-group">
      <label for="sender">SENDER</label>
      <input type="text" required class="form-control" id="sender" />
    </div>

    <div class="form-group">
      <label for="quote">WRITE YOUR QUOTE HERE</label>
      <textarea class="form-control" id="quote" rows="4" required></textarea>
    </div>
    <div class="form-group">
      <label for="post">Date Posted</label>
      <input type="date" id="post" required />
    </div>
  </form>
</div>
